# Dependencies
node_modules/
package-lock.json
yarn.lock

# Compiled output
dist/
dist-ssr/
build/
.next/
out/
.nuxt/
.output/
/backend/dist/
/frontend/dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDEs and Editors
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
!.env.example

# Tests and Coverage
coverage/
.nyc_output/
.jest/

# Temporary and Runtime files
tmp/
temp/
.tmp/
.temp/
.cache/
.vite/
pids
*.pid
*.seed
*.pid.lock
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# TypeScript
*.tsbuildinfo

# ESLint
.eslintcache

# Prisma
/prisma/migrations/
/prisma/*.db
/prisma/*.db-journal
**/prisma/migrations/
**/prisma/*.db
**/prisma/*.db-journal
